<%- include('header'); %>
    <div class="container">
        <div class="row">

            <h1 class="text-center title">Olá, word</h1>
            <div class="div-cards">

                <form name action="">
                    <%- include('./template-parts/list_category.ejs', {list: catList}); %>

                </form>

                <div class="card card-chatbot col-4 p-4">
                    <h4 class="text-center card-title mb-4">TI ADS</h4>

                    <a class="a-bot" href="send/vendas/ITMessage">
                        <div class="a-bot-div text-center">ADS</div>
                    </a>
                </div>

                <div class="card card-chatbot col-4 p-4">
                    <h4 class="text-center card-title mb-4">TI ADS NEws</h4>

                    <a class="a-bot" href="send/vendas/ISNews">
                        <div class="a-bot-div text-center">ADS  NEws</div>
                    </a>
                </div>

                <!--
                <div class="card card-chatbot col-4 p-4">
                    <h4 class="text-center card-title mb-4">TI Groups</h4>

                    <a class="a-bot" href="send/dev/booksTelegram">
                        <div class="a-bot-div text-center">TI</div>
                    </a>
                </div>

                <div class="card card-chatbot col-4 p-4">
                    <h4 class="text-center card-title mb-4">TI Groups</h4>

                    <a class="a-bot" href="send/vendas/ITEnterprise">
                        <div class="a-bot-div text-center">ITEnterprise</div>
                    </a>
                </div>

                <div class="card card-chatbot col-4 p-4">
                    <h4 class="text-center card-title mb-4">Custom Message</h4>
                    <form action="" class="text-center">
                        <textarea name="message" id="msg" placeholder="Text message..." class="custom_msg w-100">
                        </textarea>
                    </form>

                    <a class="a-bot" href="#" id="custom_msg_send">
                        <div class="a-bot-div text-center">Send</div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>

<%- include('footer'); %>