<%- include('header'); %>
    <div class="container">
        <div class="row">
            
            <h1 class="text-center">Olá, word</h1>

            <div class="card card-chatbot col-4 p-4">
                <h4 class="text-center card-title mb-4">Chatboot</h4>

                <a class="a-bot" href="/ads">
                    <div class="a-bot-div text-center">ADS</div>
                </a>
            </div>
        </div>
    </div>

<%- include('footer'); %>